.gamers{
    .gamersMain{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 25px;
        margin-top: 50px;
        a{
            text-decoration: none;
        }
    }
}